<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row" style="height:40px">
          <button href="" class="col-md-1 btn btn-primary"><span>Add</span></button>
          <button href="" class="col-md-1 btn btn-primary"><span>Edit</span></button>
          <button href="" class="col-md-1 btn btn-primary"><span>Edit</span></button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Card tables</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Classification</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Buy Price</th>
                    <th scope="col">Sell Price</th>
                    <th scope="col">Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>1</td>
                    <td>Contoh</td>
                    <td>Contoh</td>
                    <td>Contoh</td>
                    <td>0</td>
                    <td>IDR</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>